<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chatcamp.uikit">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".preview.MediaPreviewActivity"
            android:theme="@style/ChatCampTheme.NoActionBar" />

        <provider
            android:name=".utils.ChatCampFileProvider"
            android:authorities="${applicationId}.chatcamp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/library_file_paths" />
        </provider>

        <activity
            android:name=".preview.ShowImageActivity"
            android:theme="@style/ChatCampTheme.NoActionBar" />
        <activity
            android:name=".preview.ShowVideoActivity"
            android:theme="@style/ChatCampTheme.NoActionBar" />
        <activity
            android:name=".conversationdetails.GroupDetailActivity"
            android:theme="@style/ChatCampTheme.NoActionBar" />
        <activity
            android:name=".conversationdetails.UserProfileActivity"
            android:theme="@style/ChatCampTheme.NoActionBar" />

        <activity android:name=".user.BlockedUserListActivity" />
    </application>

</manifest>